<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OHOHO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BasketViewServlet</display-name>
    <servlet-name>BasketViewServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.BasketViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketViewServlet</servlet-name>
    <url-pattern>/BasketViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbconnectServlet</display-name>
    <servlet-name>DbconnectServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.DbconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbconnectServlet</servlet-name>
    <url-pattern>/DbconnectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBookServlet</display-name>
    <servlet-name>InsertBookServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.InsertBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBookServlet</servlet-name>
    <url-pattern>/InsertBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserServlet</display-name>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/InsertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBookServlet</display-name>
    <servlet-name>ListBookServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.ListBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookServlet</servlet-name>
    <url-pattern>/ListBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopServlet</display-name>
    <servlet-name>TopServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.TopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopServlet</servlet-name>
    <url-pattern>/TopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasketAddServlet</display-name>
    <servlet-name>BasketAddServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.BasketAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketAddServlet</servlet-name>
    <url-pattern>/BasketAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderListServlet</display-name>
    <servlet-name>AdminOrderListServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.AdminOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderListServlet</servlet-name>
    <url-pattern>/AdminOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderViewServlet</display-name>
    <servlet-name>OrderViewServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.OrderViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderViewServlet</servlet-name>
    <url-pattern>/OrderViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasketCancelServlet</display-name>
    <servlet-name>BasketCancelServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.BasketCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketCancelServlet</servlet-name>
    <url-pattern>/BasketCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEtcServlet</display-name>
    <servlet-name>AdminEtcServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.AdminEtcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEtcServlet</servlet-name>
    <url-pattern>/AdminEtcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaxServlet</display-name>
    <servlet-name>UpdateTaxServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.UpdateTaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaxServlet</servlet-name>
    <url-pattern>/UpdateTaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdminUserServlet</display-name>
    <servlet-name>InsertAdminUserServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.AdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdminUserServlet</servlet-name>
    <url-pattern>/InsertAdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListDetailServlet</display-name>
    <servlet-name>OrderListDetailServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.OrderListDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListDetailServlet</servlet-name>
    <url-pattern>/OrderListDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidSearchOrderServlet</display-name>
    <servlet-name>AndroidSearchOrderServlet</servlet-name>
    <servlet-class>jp.co.eintecs.android.AndroidSearchOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidSearchOrderServlet</servlet-name>
    <url-pattern>/AndroidSearchOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidInsertBookServlet</display-name>
    <servlet-name>AndroidInsertBookServlet</servlet-name>
    <servlet-class>jp.co.eintecs.android.AndroidInsertBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidInsertBookServlet</servlet-name>
    <url-pattern>/AndroidInsertBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidUpdateBookServlet</display-name>
    <servlet-name>AndroidUpdateBookServlet</servlet-name>
    <servlet-class>jp.co.eintecs.android.AndroidUpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidUpdateBookServlet</servlet-name>
    <url-pattern>/AndroidUpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidSearchBookServlet</display-name>
    <servlet-name>AndroidSearchBookServlet</servlet-name>
    <servlet-class>jp.co.eintecs.android.AndroidSearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidSearchBookServlet</servlet-name>
    <url-pattern>/AndroidSearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidLoginServlet</display-name>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <servlet-class>jp.co.eintecs.android.AndroidLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <url-pattern>/AndroidLoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginAdminFilter</display-name>
    <filter-name>LoginAdminFilter</filter-name>
    <filter-class>jp.co.eintecs.filter.LoginAdminFilter</filter-class>
  </filter>
  <filter>
    <display-name>LoginUserFilter</display-name>
    <filter-name>LoginUserFilter</filter-name>
    <filter-class>jp.co.eintecs.filter.LoginUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginAdminFilter</filter-name>
    <url-pattern>/admin.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginAdminFilter</filter-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginAdminFilter</filter-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginAdminFilter</filter-name>
    <url-pattern>/AdminEtcServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginUserFilter</filter-name>
    <url-pattern>/UserServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginUserFilter</filter-name>
    <url-pattern>/BasketViewServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginUserFilter</filter-name>
    <url-pattern>/BasketAddServlet</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>UserOrderListServlet</display-name>
    <servlet-name>UserOrderListServlet</servlet-name>
    <servlet-class>jp.co.eintecs.servlet.UserOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderListServlet</servlet-name>
    <url-pattern>/UserOrderListServlet</url-pattern>
  </servlet-mapping>
</web-app>